<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.account.mapper.AccountAdAccountBmInfoMapper">

    <resultMap type="AccountAdAccountBmInfo" id="AccountAdAccountBmInfoResult">
        <result property="keyId"    column="key_id"    />
        <result property="accountId"    column="account_id"    />
        <result property="adAccountName"    column="ad_account_name"    />
        <result property="adAccountId"    column="ad_account_id"    />
        <result property="bmName"    column="bm_name"    />
        <result property="bmId"    column="bm_id"    />
        <result property="note"    column="note"    />
    </resultMap>

    <sql id="selectAccountAdAccountBmInfoVo">
        select key_id, account_id, ad_account_name, ad_account_id, bm_name, bm_id, note from account_ad_account_bm_info
    </sql>

    <select id="selectAccountAdAccountBmInfoList" parameterType="AccountAdAccountBmInfo" resultMap="AccountAdAccountBmInfoResult">
        <include refid="selectAccountAdAccountBmInfoVo"/>
        <where>
            <if test="accountId != null  and accountId != ''"> and account_id like concat('%', #{accountId}, '%')</if>
            <if test="adAccountName != null  and adAccountName != ''"> and ad_account_name like concat('%', #{adAccountName}, '%')</if>
            <if test="adAccountId != null  and adAccountId != ''"> and ad_account_id like concat('%', #{adAccountId}, '%')</if>
            <if test="bmName != null  and bmName != ''"> and bm_name like concat('%', #{bmName}, '%')</if>
            <if test="bmId != null  and bmId != ''"> and bm_id like concat('%', #{bmId}, '%')</if>
            <if test="note != null  and note != ''"> and note like concat('%', #{note}, '%')</if>
        </where>
    </select>

    <select id="selectAccountAdAccountBmInfoByKeyId" parameterType="Long" resultMap="AccountAdAccountBmInfoResult">
        <include refid="selectAccountAdAccountBmInfoVo"/>
        where key_id = #{keyId}
    </select>

    <insert id="insertAccountAdAccountBmInfo" parameterType="AccountAdAccountBmInfo" useGeneratedKeys="true" keyProperty="keyId">
        insert into account_ad_account_bm_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">account_id,</if>
            <if test="adAccountName != null">ad_account_name,</if>
            <if test="adAccountId != null">ad_account_id,</if>
            <if test="bmName != null">bm_name,</if>
            <if test="bmId != null">bm_id,</if>
            <if test="note != null">note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">#{accountId},</if>
            <if test="adAccountName != null">#{adAccountName},</if>
            <if test="adAccountId != null">#{adAccountId},</if>
            <if test="bmName != null">#{bmName},</if>
            <if test="bmId != null">#{bmId},</if>
            <if test="note != null">#{note},</if>
         </trim>
    </insert>

    <update id="updateAccountAdAccountBmInfo" parameterType="AccountAdAccountBmInfo">
        update account_ad_account_bm_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="adAccountName != null">ad_account_name = #{adAccountName},</if>
            <if test="adAccountId != null">ad_account_id = #{adAccountId},</if>
            <if test="bmName != null">bm_name = #{bmName},</if>
            <if test="bmId != null">bm_id = #{bmId},</if>
            <if test="note != null">note = #{note},</if>
        </trim>
        where key_id = #{keyId}
    </update>

    <delete id="deleteAccountAdAccountBmInfoByKeyId" parameterType="Long">
        delete from account_ad_account_bm_info where key_id = #{keyId}
    </delete>

    <delete id="deleteAccountAdAccountBmInfoByKeyIds" parameterType="String">
        delete from account_ad_account_bm_info where key_id in
        <foreach item="keyId" collection="array" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </delete>
</mapper>
