<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.account.mapper.AdvertiseMapper">

    <resultMap type="Advertise" id="AdvertiseResult">
        <result property="keyId"    column="key_id"    />
        <result property="adAccountId"    column="ad_account_id"    />
        <result property="adAccountName"    column="ad_account_name"    />
        <result property="pageName"    column="page_name"    />
        <result property="pageId"    column="page_id"    />
        <result property="operation"    column="operation"    />
        <result property="client"    column="client"    />
        <result property="advertisingContent"    column="advertising_content"    />
        <result property="placementArea"    column="placement_area"    />
        <result property="status"    column="status"    />
        <result property="adType"    column="ad_type"    />
        <result property="operator"    column="operator"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="note"    column="note"    />
        <result property="authorizedAccount"    column="authorized_account"    />
        <result property="authorizedBm"    column="authorized_BM"    />
    </resultMap>

    <sql id="selectAdvertiseVo">
        select key_id, ad_account_id, ad_account_name, page_name, page_id, operation, client, advertising_content, placement_area, status, ad_type, operator, start_time, end_time, note, authorized_account, authorized_BM from advertise
    </sql>

    <select id="selectAdvertiseList" parameterType="Advertise" resultMap="AdvertiseResult">
        <include refid="selectAdvertiseVo"/>
        <where>
            <if test="adAccountId != null  and adAccountId != ''"> and ad_account_id = #{adAccountId}</if>
            <if test="adAccountName != null  and adAccountName != ''"> and ad_account_name like concat('%', #{adAccountName}, '%')</if>
            <if test="pageName != null  and pageName != ''"> and page_name like concat('%', #{pageName}, '%')</if>
            <if test="pageId != null  and pageId != ''"> and page_id like concat('%', #{pageId}, '%')</if>
            <if test="operation != null  and operation != ''"> and operation like concat('%', #{operation}, '%')</if>
            <if test="client != null  and client != ''"> and client like concat('%', #{client}, '%')</if>
            <if test="advertisingContent != null  and advertisingContent != ''"> and advertising_content like concat('%', #{advertisingContent}, '%')</if>
            <if test="placementArea != null  and placementArea != ''"> and placement_area like concat('%', #{placementArea}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="adType != null  and adType != ''"> and ad_type like concat('%', #{adType}, '%')</if>
            <if test="operator != null  and operator != ''"> and operator like concat('%', #{operator}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
            <if test="authorizedAccount != null  and authorizedAccount != ''"> and authorized_account like concat('%', #{authorizedAccount}, '%')}</if>
            <if test="authorizedBm != null  and authorizedBm != ''"> and authorized_BM like concat('%', #{authorizedBm}, '%')</if>
        </where>
    </select>

    <select id="selectAdvertiseByKeyId" parameterType="Long" resultMap="AdvertiseResult">
        <include refid="selectAdvertiseVo"/>
        where key_id = #{keyId}
    </select>

    <select id="selectAdvertiseByAdAccountId" parameterType="String" resultMap="AdvertiseResult">
        <include refid="selectAdvertiseVo"/>
        where ad_account_id = #{adAccountId}
    </select>

    <insert id="insertAdvertise" parameterType="Advertise" useGeneratedKeys="true" keyProperty="keyId">
        insert into advertise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adAccountId != null">ad_account_id,</if>
            <if test="adAccountName != null">ad_account_name,</if>
            <if test="pageName != null">page_name,</if>
            <if test="pageId != null">page_id,</if>
            <if test="operation != null">operation,</if>
            <if test="client != null">client,</if>
            <if test="advertisingContent != null">advertising_content,</if>
            <if test="placementArea != null">placement_area,</if>
            <if test="status != null">status,</if>
            <if test="adType != null">ad_type,</if>
            <if test="operator != null">operator,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="note != null">note,</if>
            <if test="authorizedAccount != null">authorized_account,</if>
            <if test="authorizedBm != null">authorized_BM,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adAccountId != null">#{adAccountId},</if>
            <if test="adAccountName != null">#{adAccountName},</if>
            <if test="pageName != null">#{pageName},</if>
            <if test="pageId != null">#{pageId},</if>
            <if test="operation != null">#{operation},</if>
            <if test="client != null">#{client},</if>
            <if test="advertisingContent != null">#{advertisingContent},</if>
            <if test="placementArea != null">#{placementArea},</if>
            <if test="status != null">#{status},</if>
            <if test="adType != null">#{adType},</if>
            <if test="operator != null">#{operator},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="note != null">#{note},</if>
            <if test="authorizedAccount != null">#{authorizedAccount},</if>
            <if test="authorizedBm != null">#{authorizedBm},</if>
         </trim>
    </insert>

    <update id="updateAdvertise" parameterType="Advertise">
        update advertise
        <trim prefix="SET" suffixOverrides=",">
            <if test="adAccountId != null">ad_account_id = #{adAccountId},</if>
            <if test="adAccountName != null">ad_account_name = #{adAccountName},</if>
            <if test="pageName != null">page_name = #{pageName},</if>
            <if test="pageId != null">page_id = #{pageId},</if>
            <if test="operation != null">operation = #{operation},</if>
            <if test="client != null">client = #{client},</if>
            <if test="advertisingContent != null">advertising_content = #{advertisingContent},</if>
            <if test="placementArea != null">placement_area = #{placementArea},</if>
            <if test="status != null">status = #{status},</if>
            <if test="adType != null">ad_type = #{adType},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="note != null">note = #{note},</if>
            <if test="authorizedAccount != null">authorized_account = #{authorizedAccount},</if>
            <if test="authorizedBm != null">authorized_BM = #{authorizedBm},</if>
        </trim>
        where key_id = #{keyId}
    </update>

    <delete id="deleteAdvertiseByKeyId" parameterType="Long">
        delete from advertise where key_id = #{keyId}
    </delete>

    <delete id="deleteAdvertiseByKeyIds" parameterType="String">
        delete from advertise where key_id in
        <foreach item="keyId" collection="array" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </delete>

    <select id="selectAllAdvertise" resultMap="AdvertiseResult">
        select * from advertise
    </select>
</mapper>
