<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.account.mapper.FbAccountMapper">

	<resultMap id="BaseResultMap" type="FbAccount">
		<id column="key_id" jdbcType="INTEGER" property="keyId" />
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="email_password" jdbcType="VARCHAR" property="emailPassword" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="ua" jdbcType="VARCHAR" property="ua" />
		<result column="data_source" jdbcType="VARCHAR" property="dataSource" />
		<result column="region" jdbcType="VARCHAR" property="region" />
		<result column="browser_status" jdbcType="CHAR" property="browserStatus" />
		<result column="browser_profile" jdbcType="VARCHAR" property="browserProfile" />
	</resultMap>

	<!-- 定义条件判断片段 -->
	<sql id="conditionFragment">
		<if test="id != null">id = #{id},</if>
		<if test="password != null">password = #{password},</if>
		<if test="email != null">email = #{email},</if>
		<if test="emailPassword != null">email_password = #{emailPassword},</if>
		<if test="birthday != null">birthday = #{birthday},</if>
		<if test="name != null">name = #{name},</if>
		<if test="secretKey != null">secret_key = #{secretKey},</if>
		<if test="status != null">status = #{status},</if>
		<if test="createDate != null">create_date = #{createDate},</if>
		<if test="note != null">note = #{note},</if>
		<if test="ua != null">ua = #{ua},</if>
		<if test="dataSource != null">data_source = #{dataSource},</if>
		<if test="region != null">region = #{region},</if>
		<if test="browserStatus != null">browser_status = #{browserStatus},</if>
		<if test="browserProfile != null">browser_profile = #{browserProfile},</if>
	</sql>
	<sql id="conditionQuery">
		<if test="keyId != null and keyId != ''">key_id = #{keyId}</if>
		<if test="id != null and id != ''">id LIKE CONCAT('%', #{id}, '%')</if>
		<if test="password != null and password != ''">and password = #{password}</if>
		<if test="email != null and email != ''">and email LIKE CONCAT('%', #{email}, '%')</if>
		<if test="emailPassword != null and emailPassword != ''">and email_password = #{emailPassword}</if>
		<if test="birthday != null and birthday != ''">and birthday LIKE CONCAT('%', #{birthday}, '%')</if>
		<if test="name != null and name != ''">and name LIKE CONCAT('%', #{name}, '%')</if>
		<if test="secretKey != null and secretKey != ''">and secret_key LIKE CONCAT('%', #{secretKey}, '%')</if>
		<if test="status != null and status != ''">and status = #{status}</if>
		<if test="ua != null and ua != ''">and ua LIKE CONCAT('%', #{ua}, '%')</if>
		<if test="dataSource != null and dataSource != ''">and data_source LIKE CONCAT('%', #{dataSource}, '%')</if>
		<if test="region != null and region != ''">and region LIKE CONCAT('%', #{region}, '%')</if>
		<if test="browserStatus != null and browserStatus != ''">and browser_status LIKE CONCAT('%', #{browserStatus}, '%')</if>
		<if test="note != null and note != ''">note LIKE CONCAT('%', #{note}, '%')</if>
	</sql>

	<sql id="selectFbAccountVo">
		select key_id, id, password, email, email_password, birthday, name, secret_key, status, create_date, note, ua, data_source, region, browser_status, browser_profile from fb_account
	</sql>

	<select id="selectFbAccountList" parameterType="FbAccount" resultMap="BaseResultMap">
		<include refid="selectFbAccountVo"/>
		<where>
			<if test="keyId != null and keyId != ''">key_id = #{keyId}</if>
			<if test="id != null  and id != ''"> and id = #{id}</if>
			<if test="password != null  and password != ''"> and password = #{password}</if>
			<if test="email != null  and email != ''"> and email = #{email}</if>
			<if test="emailPassword != null  and emailPassword != ''"> and email_password = #{emailPassword}</if>
			<if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
			<if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
			<if test="secretKey != null  and secretKey != ''"> and secret_key = #{secretKey}</if>
			<if test="status != null  and status != ''"> and status = #{status}</if>
			<if test="createDate != null  and createDate != ''"> and create_date = #{createDate}</if>
			<if test="note != null  and note != ''"> and note = #{note}</if>
			<if test="ua != null  and ua != ''"> and ua = #{ua}</if>
			<if test="dataSource != null  and dataSource != ''"> and data_source = #{dataSource}</if>
			<if test="region != null  and region != ''"> and region = #{region}</if>
			<if test="browserStatus != null  and browserStatus != ''"> and browser_status = #{browserStatus}</if>
			<if test="browserProfile != null  and browserProfile != ''"> and browser_profile = #{browserProfile}</if>
		</where>
	</select>



	<!-- 插入操作 -->
	<insert id="insert" parameterType="com.ruoyi.account.domain.FbAccount">
		INSERT INTO fb_account (id, password, email, email_password, birthday, secret_key, status, data_source, ua, browser_profile, name)
		VALUES (#{id}, #{password}, #{email}, #{emailPassword}, #{birthday}, #{secretKey}, #{status}, #{dataSource}, #{ua}, #{browserProfile}, #{name})
	</insert>

	<!-- 删除操作 -->
	<delete id="deleteByFbAccount" parameterType="com.ruoyi.account.domain.FbAccount">
		DELETE FROM fb_account
		WHERE id = #{id}
	</delete>

	<!-- 查询操作 -->
	<select id="selectOneByFbAccountId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM fb_account
		WHERE id = #{id}
	</select>

	<!-- 使用条件判断片段进行查询 -->
	<select id="selectByFbAccount" resultMap="BaseResultMap" parameterType="com.ruoyi.account.domain.FbAccount">
		SELECT * FROM fb_account
		<where>
			<include refid="conditionQuery"/>
		</where>
		order by key_id DESC
	</select>

	<!-- 根据属性统计记录数量 -->
	<select id="countByFbAccount" resultType="java.lang.Integer" parameterType="com.ruoyi.account.domain.FbAccount">
		SELECT COUNT(*) FROM fb_account
		<where>
			<include refid="conditionQuery"/>
		</where>
	</select>

	<update id="updateFbAccount" parameterType="com.ruoyi.account.domain.FbAccount">
	UPDATE fb_account
	<set>
		<include refid="conditionFragment"/>
	</set>
	where id = #{id}
	</update>


	<update id="updateBrowserStatus" parameterType="map">
		UPDATE fb_account
		SET browser_status = #{status}
		WHERE id = #{fbAccount.id}
	</update>


</mapper>
