<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.account.mapper.FbAccountForSellMapper">

    <resultMap type="FbAccountForSell" id="FbAccountForSellResult">
        <result property="keyId"    column="key_id"    />
        <result property="id"    column="id"    />
        <result property="password"    column="password"    />
        <result property="email"    column="email"    />
        <result property="emailPassword"    column="email_password"    />
        <result property="birthday"    column="birthday"    />
        <result property="name"    column="name"    />
        <result property="secretKey"    column="secret_key"    />
        <result property="gender"    column="gender"    />
        <result property="createDate"    column="create_date"    />
        <result property="note"    column="note"    />
        <result property="region"    column="region"    />
        <result property="canLogin"    column="can_login"    />
        <result property="isMarketplace"    column="is_marketplace"    />
        <result property="friendNumber"    column="friend_number"    />
        <result property="canAds"    column="can_ads"    />
        <result property="pageNumber"    column="page_number"    />
        <result property="bmNumber"    column="bm_number"    />
        <result property="postsNumber"    column="posts_number"    />
        <result property="ua"    column="ua"    />
        <result property="browserStatus"    column="browser_status"    />
        <result property="browserProfile"    column="browser_profile"    />
        <result property="filePath"    column="file_path"    />
        <result property="lastPostsTime"    column="last_posts_time"    />
    </resultMap>

    <sql id="selectFbAccountForSellVo">
        select key_id, id, password, email, email_password, birthday, name, secret_key, gender, create_date, note, region, can_login, is_marketplace, friend_number, can_ads, page_number, bm_number, posts_number, ua, browser_status, browser_profile, file_path, last_posts_time from fb_account_for_sell
    </sql>

    <select id="selectFbAccountForSellList" parameterType="FbAccountForSell" resultMap="FbAccountForSellResult">
        <include refid="selectFbAccountForSellVo"/>
        <where>
            <if test="keyId != null  and keyId != ''"> and key_id = #{keyId}</if>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="emailPassword != null  and emailPassword != ''"> and email_password = #{emailPassword}</if>
            <if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="secretKey != null  and secretKey != ''"> and secret_key = #{secretKey}</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="createDate != null  and createDate != ''"> and create_date = #{createDate}</if>
            <if test="note != null  and note != ''"> and note like concat('%', #{note}, '%')</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="canLogin != null  and canLogin != ''"> and can_login = #{canLogin}</if>
            <if test="isMarketplace != null  and isMarketplace != ''"> and is_marketplace = #{isMarketplace}</if>
            <if test="friendNumber != null  and friendNumber != ''"> and friend_number = #{friendNumber}</if>
            <if test="canAds != null  and canAds != ''"> and can_ads = #{canAds}</if>
            <if test="pageNumber != null  and pageNumber != ''"> and page_number = #{pageNumber}</if>
            <if test="bmNumber != null  and bmNumber != ''"> and bm_number = #{bmNumber}</if>
            <if test="postsNumber != null  and postsNumber != ''"> and posts_number = #{postsNumber}</if>
            <if test="ua != null  and ua != ''"> and ua = #{ua}</if>
            <if test="browserStatus != null  and browserStatus != ''"> and browser_status = #{browserStatus}</if>
            <if test="browserProfile != null  and browserProfile != ''"> and browser_profile = #{browserProfile}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="lastPostsTime != null  and lastPostsTime != ''"> and last_posts_time = #{lastPostsTime}</if>
        </where>
        order by key_id DESC
    </select>

    <select id="selectFbAccountForSellByKeyId" parameterType="Long" resultMap="FbAccountForSellResult">
        <include refid="selectFbAccountForSellVo"/>
        where key_id = #{keyId}
    </select>

    <insert id="insertFbAccountForSell" parameterType="FbAccountForSell" useGeneratedKeys="true" keyProperty="keyId">
        insert into fb_account_for_sell
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="emailPassword != null">email_password,</if>
            <if test="birthday != null">birthday,</if>
            <if test="name != null">name,</if>
            <if test="secretKey != null">secret_key,</if>
            <if test="gender != null">gender,</if>
            <if test="createDate != null">create_date,</if>
            <if test="note != null">note,</if>
            <if test="region != null">region,</if>
            <if test="canLogin != null">can_login,</if>
            <if test="isMarketplace != null">is_marketplace,</if>
            <if test="friendNumber != null">friend_number,</if>
            <if test="canAds != null">can_ads,</if>
            <if test="pageNumber != null">page_number,</if>
            <if test="bmNumber != null">bm_number,</if>
            <if test="postsNumber != null">posts_number,</if>
            <if test="ua != null">ua,</if>
            <if test="browserStatus != null">browser_status,</if>
            <if test="browserProfile != null">browser_profile,</if>
            <if test="filePath != null">file_path,</if>
            <if test="lastPostsTime != null">last_posts_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="emailPassword != null">#{emailPassword},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="name != null">#{name},</if>
            <if test="secretKey != null">#{secretKey},</if>
            <if test="gender != null">#{gender},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="note != null">#{note},</if>
            <if test="region != null">#{region},</if>
            <if test="canLogin != null">#{canLogin},</if>
            <if test="isMarketplace != null">#{isMarketplace},</if>
            <if test="friendNumber != null">#{friendNumber},</if>
            <if test="canAds != null">#{canAds},</if>
            <if test="pageNumber != null">#{pageNumber},</if>
            <if test="bmNumber != null">#{bmNumber},</if>
            <if test="postsNumber != null">#{postsNumber},</if>
            <if test="ua != null">#{ua},</if>
            <if test="browserStatus != null">#{browserStatus},</if>
            <if test="browserProfile != null">#{browserProfile},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="lastPostsTime != null">#{lastPostsTime},</if>
        </trim>
    </insert>

    <update id="updateFbAccountForSell" parameterType="FbAccountForSell">
        update fb_account_for_sell
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="emailPassword != null">email_password = #{emailPassword},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="name != null">name = #{name},</if>
            <if test="secretKey != null">secret_key = #{secretKey},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="note != null">note = #{note},</if>
            <if test="region != null">region = #{region},</if>
            <if test="canLogin != null">can_login = #{canLogin},</if>
            <if test="isMarketplace != null">is_marketplace = #{isMarketplace},</if>
            <if test="friendNumber != null">friend_number = #{friendNumber},</if>
            <if test="canAds != null">can_ads = #{canAds},</if>
            <if test="pageNumber != null">page_number = #{pageNumber},</if>
            <if test="bmNumber != null">bm_number = #{bmNumber},</if>
            <if test="postsNumber != null">posts_number = #{postsNumber},</if>
            <if test="ua != null">ua = #{ua},</if>
            <if test="browserStatus != null">browser_status = #{browserStatus},</if>
            <if test="browserProfile != null">browser_profile = #{browserProfile},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="lastPostsTime != null">last_posts_time = #{lastPostsTime},</if>
        </trim>
        where key_id = #{keyId}
    </update>


    <delete id="deleteFbAccountForSellByKeyId" parameterType="Long">
        delete from fb_account_for_sell where key_id = #{keyId}
    </delete>

    <delete id="deleteFbAccountForSellByKeyIds" parameterType="String">
        delete from fb_account_for_sell where key_id in 
        <foreach item="keyId" collection="array" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </delete>

    <select id="selectFbAccountForSellById" parameterType="java.lang.String" resultMap="FbAccountForSellResult">
        <include refid="selectFbAccountForSellVo"/>
        where id = #{id}
    </select>


    <select id="selectFbAccountForSellListByAccountIds" parameterType="String" resultMap="FbAccountForSellResult">
        <include refid="selectFbAccountForSellVo"/> where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>